::-webkit-scrollbar {
    display:none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a570bd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}