
.gcard{
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%, 0 18%);
}

.ambient-container {
  position: relative;
  display: inline-block;
}

.ambient-visible {
  width: 100%;
  /* left: -10px;
  bottom: -10px; */
  display: block;
}

@keyframes ambient-animation {
  0% { filter: blur(12px) brightness(0.5); transform: scale(1); }
  25% { filter: blur(17px) brightness(0.7); transform: scale(1.05); }
  50% { filter: blur(22px) brightness(0.9); transform: scale(1.1); }
  75% { filter: blur(17px) brightness(0.7); transform: scale(1.05); }
  100% { filter: blur(12px) brightness(0.5); transform: scale(1); }
}

.ambient-shadow {
  width:85%;
  height:85%;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.gcontrol {

}
.gcontrol:hover .ambient-shadow {
  opacity: 1;
  background: linear-gradient(45deg, rgba(255,0,0,0.5), rgba(0,255,0,0.5), rgba(0,0,255,0.5));
  mix-blend-mode: multiply;
  animation: ambient-animation 3s ease-in-out infinite;
}
.triangle {
  clip-path: polygon(0% 0%, 50% 100%, 50% 84%, 12% 7%, 88% 7%, 50% 84%, 50% 100%, 100% 0%);
}

