.neon-sticks{
    color: #bfe2ff;
    background-color: #b5d0e7;
} 
.neon-sticks::before{
    content:"";
    box-sizing: border-box;
    position: absolute;
    z-index: 50;
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    border: #008cff 0.08em solid;
    border-radius: 0.25em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 103%;
    text-shadow: 
    0 0 .10em #FFF7,
    0 0 .10em var(#95ccfa);
    box-shadow:
    inset 0 0 .3em #008cff,
            0 0 .4em #008cff;     
}

.card{

    span{
        z-index: 50;
        position: absolute;
        width: 25px;
        height: 5px;
        background-color: #008cff;
        transform: rotate(-45deg);
        // border: #008cff 0.08em solid;
        // border-radius: 0.25em;
        bottom: 5px;
        right: -5px;
        clip-path: polygon(19% 100%, 75% 100%, 100% 0, 0 0);
    }
}